@import '../../styles/colors.scss';

.newCharacter {
  margin: 50px;
  position: relative;

  .characterInput {
    margin: 15px auto;
    width: 250px;

    .label {
      padding: 7px 10px;
    }
  }

  .submit {
    margin-top: 30px;
  }
}
