@import '../../styles/colors.scss';

.game {
  display: flex;
  height: 95%;
  margin: 40px auto 10px auto;
  overflow-y: auto;
  position: relative;
  width: 95%;
  z-index: 0;

  .textDisplay {
    align-self: flex-end;
    margin-bottom: 80px;

    .messageItem {
      margin: 10px auto;
      user-select: none;

      .character {
        color: cyan;
        display: inline-block;
        margin-right: 20px;
        width: 100px;
      }

      .message {
        display: inline-block;
        font-style: italic;
      }
    }
  }

  .commandCenter {
    .command {
      border-top: 1px solid $gray-80;
      bottom: 10px;
      left: 0;
      position: absolute;
      width: 90%;

      .commandInput {
        text-align: left;
        width: 100%;
      }
    }
  }
}
